version: "3.9"

services:
  backend:
    build: .
    container_name: einstyn-backendd
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - postgres
    env_file:
      - .env

  redis:
    image: redis:7-alpine
    container_name: einstyn-rediss
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15-alpine
    container_name: einstyn-postgres
    environment:
      POSTGRES_DB: einstyn_db
      POSTGRES_USER: einstyn_user
      POSTGRES_PASSWORD: einstyn_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
